.root {
  & :global  {
    display: flex;
    flex-direction: row;
    gap: 10px;

      .selected {
        a {
          background-color: #fe5f1e;
          color: #ffffff;
        }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fe5f1e;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background-color: #fe5f1e;
        color: #ffffff;
      }
    }
  }
}